<div class="home"><h1>Welcome to Construction Projects</h1>

<h2>We are here to serve you.</h2>


<% if user_signed_in? %>

<h3>Click <%= link_to "here", projects_path, :class => "project_list"%>
for the list of our current projects in progress:</h3>
 
 <%#= link_to "Projects", projects_path, :class => "project_list"%>

<div class="projects_contractors">
   <ol>
  </ol>
</div>

<div class="project_details">
   <ol>
  </ol>
</div>

<div class="new-ajax-contractor">

</div><br></br>

<div class="new-ajax-project">

</div><br></br>

 <% @projects.each do |project| %>
 <li>
<%= link_to "#{project.title}", project_path(project), :class => "project_show" %>
<% end %>

<% @contractors.all.each do |contractor| %>
<% if current_user.email == contractor.email  %>
<h3>Listed below is the list of your current projects in progress:</h3>
<% contractor.projects.each do |project| %>
<%= link_to "#{project.title}", project_path(project) %>
<% end %>
<% end %>
<% end %>

<p><%= link_to "Create a new project", new_project_path, :class => "ajax_new_project" if current_user.admin? %></p>

<% end %>

</div>