<h1>Welcome to Construction Projects</h1>
<p>We are here to serve you.</p>

<h3>Listed below is the list of our current projects in progress:</h3>

<%= link_to "Click here to see the list of our current projects in progress", projects_path %>