<div class="home"><h1>Welcome to Construction Projects</h1>

<h2>We are here to serve you.</h2>


<% if user_signed_in? %>

<h3>Click <%= link_to "here", projects_path, :class => "project_list"%>
for the list of our current projects in progress:</h3>
 
 <%#= link_to "Projects", projects_path, :class => "project_list"%>

<%# @projects.each do |project| %>
<!-- <li>
<%#= link_to "#{project.title}", project_path(project) %>
<%# end %>
</li> -->

<% @contractors.all.each do |contractor| %>
<% if current_user.email == contractor.email  %>
<h3>Listed below is the list of your current projects in progress:</h3>
<% contractor.projects.each do |project| %>
<%= link_to "#{project.title}", project_path(project) %>
<% end %>
<% end %>
<% end %>

<p><%= link_to "Create a new project", new_project_path if current_user.admin? %></p>

<% end %>

</div>