<h1>Welcome to Construction Projects</h1>
<p>We hope you have a wonderful time here</p>
<% if !user_signed_in? %>
<p>If you will like to work with us, please <%= link_to "Sign up as a contractor", new_contractor_path %></p>
<% end %>