<div class="contractor">
<h5>Name: <%= @contractor.name%></h5>
   
<h5>Address: <%= @contractor.address%></h5>

<h5> Email: <%= @contractor.email %></h5>
  
<h5> Group: <%= @contractor.group %></h5>
</br><br> 
 
</div>      