<div class="contractors">
  <% @contractors.each do |contractor| %>
    <li>
      <%= link_to " #{contractor.name}", contractor_path(contractor), :class => "contractor_show_list"%>
      </li>
  <% end %>
</div>