<%= render 'form' %>



<script id="newContractorTemplate" type="text/x-handlebars-template">
  <form class="new_contractor" id="new_contractor" action="/contractors" accept-charset="UTF-8" method="post">
  
  <div class="field">
  <label for="contractor_name">Name</label>
  <input type="text" name="contractor[name]" id="contractor_name"><br>
  </div>

  <div class="field">
  <label for="contractor_address">Address</label>
  <textarea name="contractor[address]" id="contractor_address"></textarea><br>
  </div>

  <div class="field">
  <label for="contractor_email">Email</label>
  <input type="email" name="contractor[email]" id="contractor_email">
  </div>
 
  <div class="field">
  <label for="contractor_group">Group</label>
  <select name="contractor[group]" id="contractor_group"><option value=""></option>
<option value="Prime">Prime</option>
<option value="Sub">Sub</option></select><p></p>
  </div>
  
  <div class="actions"> 
  <input type="submit" name="commit" value="Create Contractor" data-disable-with="Create Contractor">
  </div>

</form>
</script>

<!-- <script id="showContractorTemplate" type="text/x-handlebars-template">
  <div class="contractor-template-js" id="contractor-{{id}}">
    <h2>Name: {{name}} </h2>
    <h2>Address: {{address}}</h2>
    <h2>Email: {{email}}</h2>
    <h2>Group: {{email}}</h2>
  </div>
</script> -->


